<footer class="bg-dark py-5" id="footer">
	<div class="container py-5">
		<div class="row">
			<div class="connect col-md-6">
				<h4 class="text-light">Connect with James</h4>
				<a class="btn btn-secondary mb-2" rel="me" href="https://mstdn.ca/@jbwharris"><i class="fa-brands fa-mastodon"></i> Mastodon</a>
				<a class="btn btn-secondary mb-2" rel="me" href="https://www.twitter.com/jbwharris/"><i class="fa-brands fa-twitter"></i> Twitter</a>
				<a class="btn btn-secondary mb-2" rel="me" href="https://www.linkedin.com/in/jbwharris/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
				<h4 class="text-light mt-4">Follow this blog</h4>
				<a class="btn btn-secondary mb-2" rel="me" href="/feed.xml"><i class="fa-solid fa-square-rss"></i> RSS Feed</a>
			</div>
			<div class="col-md-6 text-sm-right text-light">
				<p>Copyright &copy; 2023 - <a href="https://www.slideaway.ca/">SlideawayMedia</a></p>
				<!-- GreenGeeks Seal Code -->
				<div><a href="#" class="mt-2 d-block" onclick="ggs_ggseal()"><img src="https://static.greengeeks.com/ggseal/Green_14.png"></a>
					<script>
					function ggs_ggseal() { window.open("https://my.greengeeks.com/seal/", "_blank") }
					</script>
				</div>
				<!-- End GreenGeeks Seal Code -->
			</div>
		</div>
	</div>
</footer>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script async src="//static.getclicky.com/101396071.js"></script>
<noscript>
	<p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101396071ns.gif" /></p>
</noscript>